<header class="site-header" role="banner">

  <div class="mh3 fell">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title i" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          <div class="dropdown">
            <a class="page-link dropbtn" target="_blank" href="https://texts.earlyprint.org/">Library</a>
          </div>
          <!-- <a class="page-link" href="/eplab/">EP Lab</a> -->
          {% for category in site.categories %}
            {% assign category_url = category[0] | downcase %}
            {% assign page_url = page.url | split:"/" %}
            {% if category[0] == "Lab" %}
            <div class="dropdown">
              <a class="{% if category_url != page_url[1] %}page-link {% endif %} dropbtn{% if category_url == page_url[1] %} page-link-active{% endif %}" href="/{{category[0] | downcase}}" href="/{{category[0] | downcase}}">{{ category[0] }}
                <i class="fa fa-caret-down"></i>
              </a>
                <div class="dropdown-content">
                
                    <a href="/lab/tool_ngram_browser.html">N-gram Browser</a>

                    <a href="http://ada.artsci.wustl.edu:8080/corpus-frontend-1.2/all/search/">Corpus Search -- EEBO-TCP Phases I &amp; II</a>

                    <a href="http://ada.artsci.wustl.edu:8080/corpus-frontend-1.2/am_ix/search/">Corpus Search -- EEBO-TCP Phase I</a>
                        
                    <a href="/lab/tool_phrase_search.html">Phrase Search</a>

                    <a href="https://earlyprint.org/lab/tool_discovery_engine.html?which_to_do=find_texts&amp;eebo_tcp_id=A43441&amp;n_results=35&amp;tfidf_weight=6&amp;mallet_weight=6&amp;tag_weight=6">The Discovery Engine</a>
                
                    <a href="/lab/tool_words_per_year.html">Words Per Year</a>
                
                    <a href="/lab/tool_eebo_estc_texts.html">Text Counts</a>
                    
                    <a href="/download">Download Metadata</a>
                </div>
            </div>
            {% endif %}
          {% endfor %}
          <div class="dropdown">
            <a class="page-link dropbtn" href="/read-more">Read More
              <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
              <a href="/how-to">How-To</a>
              <a href="/intros">Intros</a>
              <a href="/posts">Posts</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="page-link dropbtn" href="/read-more">Community
              <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
              <a href="https://texts.earlyprint.org/exist/apps/shc/home.html#loginDialog">Become a Contributor</a>
              <a href="https://twitter.com/early_print" target="_blank">Twitter</a>
              <a href="mailto:martinmueller@northwestern.edu,jfloewen@wustl.edu?subject=Early Print" target="_blank">Email</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="page-link dropbtn" href="/about">About</a>
          </div>
          <!-- <div class="dropdown">
            <a class="page-link dropbtn" href="/">Home</a>
          </div> -->
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
