---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.indentedUL {
    margin-left: 2em;
    max-width: 34em;
}

.banner {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin: 1em auto;
    padding: 1em;

    width: 50%;
    background: #F0C0C0;
}
