
.post-title {
    font-size: 32px;
}

.post-meta {
    display: none;
}

.post-header {
    margin-bottom: 0px;
}

.post-content h3 {
    font-size: 24px;
}

.controlLabel {
    font: 14px sans-serif;
    display: inline-block;
    width: 100px;
}

/* unvisited link */
article a:link {
    color: #4f091b;
    font-weight: bold;
    background-color: #ffffff;
}

/* visited link */
article a:visited {
    color: #4f091b;
    font-weight: bold;
    background-color: #ffffff;
}

/* mouse over link */
article a:hover {
    color: #4f091b;
    font-weight: bold;
    background-color: #f7faa5;
}

/* selected link */
article a:active {
    color: #4f091b;
    font-weight: bold;
    background-color: #ffffff;
}

#toolbar {
    float: right;
    width: 40%; 
    margin-left: 5%;
    height: 1217px;
}

#thumbnail {
    height: 122px;
    width: 350px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
}

#spacer {
    height: 15px;
}
