
.post-title {
    font-size: 32px;
}

.post-meta {
    display: none;
}

.post-header {
    margin-bottom: 0px;
}

.post-content h3 {
    font-size: 24px;
}

.controlLabel {
    font: 14px sans-serif;
    display: inline-block;
    width: 100px;
}
