<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- include google_analytics.html -%}

  <body class="body-norm">
    <!-- <div class="background w-100 vh-100"></div> -->

    {%- include header.html -%}

    {% assign page_url = page.url | split:"/" %}
    <main class="page-content" aria-label="Content">
      <div class="{% if page_url[1] != 'download' and page_url[1] != 'textreuse' %}wrapper{% else %}wrapper-wide{% endif %}{% if page_url[1] != 'lab' %} transparent{% endif %}">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%} -->
  </body>

</html>
