---
layout: default
---

<div class="home">

<article class="w-100 tc">
    <div class="center w-100 pt4">
      <h1 class="fw6 f1 f1-ns lh-title mt0 mb3 fell i">
        {{ site.title }}
      </h1>
      <h2 class="fw2 f4 lh-copy mt0 mb3 fell-sc">
        {{ site.subtitle }}
      </h2>
    </div>

    <div class="center mw7">
      <p class="fw1 f4 mt0 mb3 center measure-wide">
        {{ site.description }}
      </p>
    </div>

    <div class="center w-100 h4">
    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 light-gray br3 no-underline grow pv2 ph3"
        target="_blank" href="https://texts.earlyprint.org">
        Read and edit the texts
        <div class="sans-serif f6 fs-normal">via the Early Print Library.</div>
      </a>
    </div>
    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 light-gray br3 no-underline grow pv2 ph3" href="/lab/">
        Search and analyze the texts
        <div class="sans-serif f6 fs-normal">via the Early Print Lab tools.</div>
      </a>
    </div>
    </div>
    <div class="tl center w-75-ns w-100 pa3">
      <p class="fw1 f5">
      <i>EarlyPrint</i> coordinates two nodes, a <a href="https://texts.earlyprint.org" target="_blank" class="no-underline">Library</a> of texts and a <a href="/lab/" class="no-underline">Lab</a> for exploring them; both the Lab and the Library are under active development.  During 2020 and 2021, we will be adding texts and images to the Library, research tools to the Lab, and documentation to both.  We are working to improve load times for texts in the Library; load times for images are constrained by the infrastructure of the Internet Archive.
      </p>

      <p><i>EarlyPrint</i> has been supported generously by several grants from the Andrew W. Mellon Foundation and the American Council of Learned Societies (ACLS). <br><a href="mailto:martinmueller@northwestern.edu,jfloewen@wustl.edu?subject=Early Print" target="_blank" class="no-underline">Contact the editors.</a>
      </p>
    </div>
    <!-- <div class="db tc gray">
      <i class="fas fa-chevron-down"></i>
    </div> -->
    <article class="pv4 bt bb b--black-10 ph3 ph0-l">
        <div class="flex flex-column flex-row-ns">
            <div class="w-100 pr3-ns order-2 order-1-ns">
                <div><a href="https://www.northwestern.edu/"><img style="vertical-align: top; width: 200px;" src="/assets/img/Northwestern_purple_RGB.svg"></a><a href="https://www.wustl.edu/"><img style="vertical-align: top; width: 350px; padding-left: 25px;" src="/assets/img/wustl.png"></a></div>
                <div><a href="https://mellon.org/grants/grants-database/grants/northwestern-university/11600668/"><img style="vertical-align: top; width: 150px; padding-left: 15px;" src="/assets/img/Andrew_Mellon_Foundation_logo.svg"></a><a href="https://www.acls.org/ACLS-News/ACLS-News/Five-Humanities-Research-Projects-Receive-Digital"><img style="vertical-align: top; width: 100px; padding-left: 75px;" src="/assets/img/acls.png"></a></div>
            </div>
        </div>
    </article>

</article>

  {{ content }}

  <!-- {%- if site.posts.size > 0 -%}
    <article class="fl w-100 bt b--black-10 mt5">
      <h2 class="post-list-header pt3 fell-sc">{{ page.list_title | default: "Read More" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>

          <h3 class="mb0">
            <a class="post-link fell f4 near-black link dim" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <span class="post-meta">{{ post.author }}</span>
          <div class="post-meta">{{ post.summary }}</div>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </article>

  {%- endif -%} -->

</div>
