---
layout: default
---

<div class="home">

<article class="vh-75 dt w-100">
    <div class="dtc v-mid">
    <div class="fl w-100 w-50-ns pa3">
      <h1 class="fw6 f3 f2-ns lh-title mt0 mb3 fell-sc">
        {{ site.title }}
      </h1>
      <h2 class="fw2 f4 lh-copy mt0 mb3 fell-sc">
        {{ site.subtitle }}
      </h2>
    </div>

    <div class="fl w-100 w-50-ns pa3">
      <p class="fw1 f5 mt0 mb3">
        {{ site.description }}
      </p>
    </div>

    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 near-black br3 no-underline grow pv2 ph3 bg-near-white"
        href="https://texts.earlyprint.org">
        Read and correct the texts
        <div class="sans-serif f6 fs-normal">via the Early Modern Library.</div>
      </a>
    </div>
    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 near-black br3 no-underline grow pv2 ph3 bg-near-white"
        href="https://earlyprint.wustl.edu/">
        Explore the texts
        <div class="sans-serif f6 fs-normal">via the Early Modern Lab tools.</div>
      </a>
    </div>

    <!-- <div class="db tc gray">
      <i class="fas fa-chevron-down"></i>
    </div> -->
  </div>

</article>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <article class="fl w-100 bt b--black-10 mt5">
      <h2 class="post-list-header pt3 fell-sc">{{ page.list_title | default: "Read More" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }} • {{ post.author }}</span>
          <h3>
            <a class="post-link fell f4 near-black block-link dim" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </article>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
