---
layout: default
---

<div class="home">

<article class="vh-50 dt tc w-100 vh-75">
    <div class="dtc v-mid">
    <div class="fl w-100 pa3">
      <h1 class="fw6 f1 f1-ns lh-title mt0 mb3 fell i">
        {{ site.title }}
      </h1>
      <h2 class="fw2 f4 lh-copy mt0 mb3 fell-sc">
        {{ site.subtitle }}
      </h2>
    </div>

    <div class="fl w-100 pa3">
      <p class="fw1 f5 mt0 mb3">
        {{ site.description }}
      </p>
    </div>

    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 light-gray br3 no-underline grow pv2 ph3"
        target="_blank" href="https://texts.earlyprint.org">
        Read and correct the texts
        <div class="sans-serif f6 fs-normal">via the Early Print Library.</div>
      </a>
    </div>
    <div class="fl w-100 w-50-ns">
      <a class="fell i f3 tc block-link fl w-90 ma3 light-gray br3 no-underline grow pv2 ph3" href="/lab/">
        Search and analyze the texts
        <div class="sans-serif f6 fs-normal">via the Early Print Lab tools.</div>
      </a>
    </div>

    <!-- <div class="db tc gray">
      <i class="fas fa-chevron-down"></i>
    </div> -->
  </div>

</article>

  {{ content }}

  <!-- {%- if site.posts.size > 0 -%}
    <article class="fl w-100 bt b--black-10 mt5">
      <h2 class="post-list-header pt3 fell-sc">{{ page.list_title | default: "Read More" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>

          <h3 class="mb0">
            <a class="post-link fell f4 near-black link dim" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <span class="post-meta">{{ post.author }}</span>
          <div class="post-meta">{{ post.summary }}</div>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </article>

  {%- endif -%} -->

</div>
